@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

.App {
  text-align: center;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Maven Pro", sans-serif;
}
/* 
.overlay {
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
} */

.moving-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(189, 148, 152, 0.267)),
    url("./assets/nft-background.webp") center/cover no-repeat fixed;
}

.navbar {
  position: absolute;
  top: 30%;
  left: 5%;
  font-size: 1.5rem;
  text-align: start;
  position: absolute;
  cursor: pointer;
}

.navbar span {
  background: white;
  border-radius: 20%;
  height: 7px;
  width: 7px;
  padding: 5px 5px;
  color: rgb(197, 13, 13);
  font-size: 1rem;
  margin: 0.5rem;
  /* color: black; */
}

/* facebook */
.nav-items-1 {
  position: relative;
  left: -5%;
}

/* twitter */
.nav-items-2 {
  position: relative;
  left: 71%;
}

/* email */
.nav-items-3 {
  position: relative;
  left: 27%;
}

/* about */
.nav-items-4 {
  position: relative;
  left: 71%;
}

/* mint */
.nav-items-5 {
  position: relative;
  left: 35%;
}

/* team */
.nav-items-6 {
  position: relative;
  left: 70%;
}

.navbar .clr-blk {
  /* color: black; */
  font-weight: bold;
}

.btn {
  font-size: 0.875rem;
  padding: 0.375rem 0.75rem;
  color: white;
  background: linear-gradient(rgba(90, 108, 158, 0.4), rgba(0, 0, 0, 0.2));
  letter-spacing: 0.275rem;
  display: inline-block;
  cursor: pointer;
  border: 2px solid transparent;
  box-shadow: 0 1px 3px rgba(214, 211, 211, 0.2);
  border-radius: 3px;
  position: absolute;
  bottom: -60%;
  left: 40%;
}

.btn:hover {
  transition: all 0.3s linear;
  background: white;
  color: black;
}

.mainmint {
  position: absolute;
  top: 5%;
  left: 4%;
}

.connected {
  position: absolute;
  right: -20%;
  top: 150%;
  color: skyblue;
}
